<html>
    <head>
        <title>Task App</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <div class="jumbotron">
            <div class="container">
                <h2>My AWS Task List</h2>
            </div>
        </div>
        <div class="container">
            @RenderBody()
        </div>
    </body>
</html>